@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/monokai';

* {
    margin: 0;
    padding: 0;
}

.ansi-black {
    color: #9da1b4;
}

.ansi-red {
    color: #ea6c67;
}

.ansi-green {
    color: #79d8b0;
}

.ansi-magenta {
    color: #b467ea;
}

.current-inst {
    background-color: red !important;
}
