@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/mdn-like';


* {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ansi-black {
    color: #9da1b4;
}

.ansi-red {
    color: #F56476;
}

.ansi-green {
    color: #79d8b0;
}

.ansi-magenta {
    color: #b467ea;
}

html, body {
    height: 100%;
    background-color: #E9E3B4;
    overflow: hidden;
}

app-root {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

app-editor {
    flex-basis: 40%;
    flex-grow: 1;
    height: 100%;
}

app-image-view {
    flex-basis: 60%;
    flex-grow: 2;
}

#p5-target {
    width: 100%;
    height: 100%;
}

.current-inst {
    background-color: #619EEF45 !important;
}

.editor-container {
    height: 100%;
}

.header {
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.header > button {
   width: 100%;
   margin-bottom: 1rem;
   background-color: #B3CB8D;
   border: 0;
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
   cursor: pointer;
   font-size: 1.4rem;
}

.header > button:hover {
    background-color: #AABD8C;
}

.CodeMirror {
    height: 90%;
    font-size: 1.6rem;
}

.cm-s-mdn-like.CodeMirror {
    color: #001418 !important;
}

.cm-s-mdn-like div.CodeMirror-selected {
    background-color: #C9E59B80 !important;
}

.cm-s-mdn-like .CodeMirror-gutters {
    border-left: 6px solid #619EEF;
    background-color: #619EEF10 !important;
}

.visualize-buttons {
    position: relative;
    bottom: 9%;
    left: 10%;
    display: flex;
    gap: 1rem;
}

.visualize-buttons > button {
   margin-bottom: 1rem;
   background-color: #B3CB8D;
   border: 0;
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
   cursor: pointer;
   font-size: 1.2rem;
   display: flex;
   justify-content: center;
}

.visualize-buttons > button > svg {
    transform: scale(0.6);
}

.footer {
    position: relative;
    bottom: 35%;
    left: 10%;
    height: 32%;
    width: 80%;
    background-color: #0e121e;
    padding: 1%;
    overflow-y: scroll;
}

#error-text {
    padding-top: 1rem;
    font-size: 1.2rem;
    color: white;
    overflow-x: scroll;
    overflow-y: scroll;
}

#close {
    color: #F56476;
    position: absolute;
    top: 2px;
    left: 1px;
    cursor: pointer;
    padding: 0px 5px;
    border-radius: 5px;
}

#change-scope-button {
   background-color: #B3CB8D;
   padding: 0.5rem 1rem;
   border: 0;
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
   cursor: pointer;
   font-size: 1.2rem;
   display: flex;
   justify-content: center;
}

#change-scope-button:hover {
    background-color: #AABD8C;
}
