<div class="editor-container">
  <div class="header">
    <button (click)="runClicked()">run</button>
    <button (click)="submitClicked()">submit</button>
  </div>
  <div class="text-container">
    <ngx-codemirror [(ngModel)]="content" [options]="{
      lineNumbers: true,
      theme: 'monokai',
      lineNumberFormatter: lineFormatter
    }">
    </ngx-codemirror>
  </div>
  <div class="footer" [@outAnimation] *ngIf="showError">
    <a id="close" (click)="closeErrorMessage()">x</a>
    <pre id="error-text" [innerHtml]="errorMessage"></pre>
  </div>
</div>